{
    "env": {
        "browser": true,
        "jest": true,
        "es6": true
    },
    "plugins": [
        "import",
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "sourceType": "module"
    },
    "rules": {
        "no-console": "warn",
        "no-eval": "error",
        "import/first": "error"
    }
}